<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renjun.dao.yw_CertificateMapper" >
  <resultMap id="BaseResultMap" type="com.renjun.po.yw_Certificate" >
    <id column="certificateId" property="certificateid" jdbcType="INTEGER" />
    <result column="rightInformationId" property="rightinformationid" jdbcType="INTEGER" />
    <result column="zsbhNumber" property="zsbhnumber" jdbcType="CHAR" />
     <result column="pfeiffer" property="pfeiffer" jdbcType="CHAR" />
    <result column="licensingOfPeople" property="licensingofpeople" jdbcType="CHAR" />
    <result column="idCardTypeId" property="idcardtypeid" jdbcType="INTEGER" />
    <result column="idCardNumber" property="idcardnumber" jdbcType="CHAR" />
    <result column="email" property="email" jdbcType="CHAR" />
    <result column="phone" property="phone" jdbcType="CHAR" />
    <result column="address" property="address" jdbcType="CHAR" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="licensingOfTime" property="licensingoftime" jdbcType="TIMESTAMP" />
    
  </resultMap>
  <sql id="Base_Column_List" >
    certificateId, rightInformationId, zsbhNumber, pfeiffer, licensingOfPeople, idCardTypeId, 
    idCardNumber, email, phone, address, userId, licensingOfTime

  </sql>
  <select id="selectCertificate" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yw_certificate
   where rightInformationId = #{rightinformationid,jdbcType=INTEGER}
  </select>
  
  <select id="selectCertificateByboxOfficeId" resultMap="BaseResultMap">
   SELECT yw_certificate.certificateId, yw_certificate.zsbhNumber,yw_parcelunit.WarrantNumber,yw_rightinformation.landUseRights,yw_parcelunit.realRstateUnitNumber,
CASE WHEN yw_certificate.pfeiffer='0' THEN '否' WHEN yw_certificate.pfeiffer='1' THEN '是' END AS pfeiffer,yw_certificate.licensingOfPeople,yw_certificate.licensingOfTime FROM yw_certificate
INNER JOIN yw_rightinformation ON yw_rightinformation.rightInformationId=yw_certificate.rightInformationId
INNER JOIN yw_parcelunit ON yw_parcelunit.parcelUnitId=yw_rightinformation.parcelUnitId

   where yw_parcelunit.boxOfficeId = #{boxofficeid,jdbcType=INTEGER}
  </select>
 
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from yw_certificate
    where certificateId = #{certificateid,jdbcType=INTEGER}
  </delete>
  <insert id="insertCertificate" parameterType="com.renjun.po.yw_Certificate" >
    insert into yw_certificate (rightInformationId, 
      zsbhNumber,pfeiffer)
    values (#{rightinformationid,jdbcType=INTEGER}, 
      #{zsbhnumber,jdbcType=CHAR},#{pfeiffer,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.renjun.po.yw_Certificate" >
    insert into yw_certificate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="certificateid != null" >
        certificateId,
      </if>
      <if test="rightinformationid != null" >
        rightInformationId,
      </if>
      <if test="zsbhnumber != null" >
        zsbhNumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="certificateid != null" >
        #{certificateid,jdbcType=INTEGER},
      </if>
      <if test="rightinformationid != null" >
        #{rightinformationid,jdbcType=INTEGER},
      </if>
      <if test="zsbhnumber != null" >
        #{zsbhnumber,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.renjun.po.yw_Certificate" >
    update yw_certificate
    <set >
      <if test="rightinformationid != null" >
        rightInformationId = #{rightinformationid,jdbcType=INTEGER},
      </if>
      <if test="zsbhnumber != null" >
        zsbhNumber = #{zsbhnumber,jdbcType=CHAR},
      </if>
    </set>
    where certificateId = #{certificateid,jdbcType=INTEGER}
  </update>
 <update id="updateCertificateByCertificateId" parameterType="com.renjun.po.yw_Certificate" >
    update yw_certificate
    set      
      pfeiffer = #{pfeiffer,jdbcType=CHAR},
      licensingOfPeople = #{licensingofpeople,jdbcType=CHAR},
      idCardTypeId = #{idcardtypeid,jdbcType=INTEGER},
      idCardNumber = #{idcardnumber,jdbcType=CHAR},
      email = #{email,jdbcType=CHAR},
      phone = #{phone,jdbcType=CHAR},
      address = #{address,jdbcType=CHAR},
      userId = #{userid,jdbcType=INTEGER},
      licensingOfTime = #{licensingoftime,jdbcType=TIMESTAMP}
    where certificateId = #{certificateid,jdbcType=INTEGER}
  </update>
  
</mapper>