<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renjun.dao.yw_CollectFeesMapper" >
  <resultMap id="BaseResultMap" type="com.renjun.po.yw_CollectFees" >
    <id column="collectFeesId" property="collectfeesid" jdbcType="INTEGER" />
    <result column="rightInformationId" property="rightinformationid" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="billingDate" property="billingdate" jdbcType="CHAR" />
    <result column="charge" property="charge" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    collectFeesId, rightInformationId, userId, billingDate, charge
  </sql>
  <select id="selectCollectFeesById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from yw_collectfees
    where rightInformationId = #{rightinformationid,jdbcType=INTEGER}
  </select>
  
  
  <delete id="deleteCollectFeesByQlId" parameterType="java.lang.Integer" >
    delete from yw_collectfees
    where rightInformationId = #{rightinformationid,jdbcType=INTEGER}
  </delete>
  <insert id="insertCollectFees" useGeneratedKeys="true" keyProperty="collectfeesid" parameterType="com.renjun.po.yw_CollectFees" >
    insert into yw_collectfees (rightInformationId, 
      userId, billingDate, charge
      )
    values (#{rightinformationid,jdbcType=INTEGER}, 
      #{userid,jdbcType=INTEGER}, #{billingdate,jdbcType=CHAR}, #{charge,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.renjun.po.yw_CollectFees" >
    insert into yw_collectfees
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="collectfeesid != null" >
        collectFeesId,
      </if>
      <if test="rightinformationid != null" >
        rightInformationId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="billingdate != null" >
        billingDate,
      </if>
      <if test="charge != null" >
        charge,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="collectfeesid != null" >
        #{collectfeesid,jdbcType=INTEGER},
      </if>
      <if test="rightinformationid != null" >
        #{rightinformationid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="billingdate != null" >
        #{billingdate,jdbcType=CHAR},
      </if>
      <if test="charge != null" >
        #{charge,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.renjun.po.yw_CollectFees" >
    update yw_collectfees
    <set >
      <if test="rightinformationid != null" >
        rightInformationId = #{rightinformationid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="billingdate != null" >
        billingDate = #{billingdate,jdbcType=CHAR},
      </if>
      <if test="charge != null" >
        charge = #{charge,jdbcType=DECIMAL},
      </if>
    </set>
    where collectFeesId = #{collectfeesid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.renjun.po.yw_CollectFees" >
    update yw_collectfees
    set rightInformationId = #{rightinformationid,jdbcType=INTEGER},
      userId = #{userid,jdbcType=INTEGER},
      billingDate = #{billingdate,jdbcType=CHAR},
      charge = #{charge,jdbcType=DECIMAL}
    where collectFeesId = #{collectfeesid,jdbcType=INTEGER}
  </update>
</mapper>