<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renjun.dao.yw_CollectFeesInformationMapper" >
  <resultMap id="BaseResultMap" type="com.renjun.po.yw_CollectFeesInformation" >
    <id column="collectFeesInformationId" property="collectfeesinformationid" jdbcType="INTEGER" />
    <result column="chargingItemId" property="chargingitemid" jdbcType="INTEGER" />
    <result column="chargeAmount" property="chargeamount" jdbcType="DECIMAL" />
    <result column="remarks" property="remarks" jdbcType="CHAR" />
    
    
  </resultMap>
  <sql id="Base_Column_List" >
    collectFeesInformationId, chargingItemId, chargeAmount, remarks
  </sql>
  <select id="selectCollectFeesInformation" resultMap="BaseResultMap" >
   SELECT yw_collectfeesinformation.collectFeesInformationId, bs_chargingitem.chargingItemName,
  yw_collectfeesinformation.chargeAmount,yw_collectfeesinformation.remarks FROM yw_collectfeesinformation
  INNER JOIN bs_chargingitem ON yw_collectfeesinformation.chargingItemId=bs_chargingitem.chargingItemId
  </select>
  
 

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from yw_collectfeesinformation
    where collectFeesInformationId = #{collectfeesinformationid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.renjun.po.yw_CollectFeesInformation" >
    insert into yw_collectfeesinformation (collectFeesInformationId, chargingItemId, 
      chargeAmount, remarks)
    values (#{collectfeesinformationid,jdbcType=INTEGER}, #{chargingitemid,jdbcType=INTEGER}, 
      #{chargeamount,jdbcType=DECIMAL}, #{remarks,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.renjun.po.yw_CollectFeesInformation" >
    insert into yw_collectfeesinformation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="collectfeesinformationid != null" >
        collectFeesInformationId,
      </if>
      <if test="chargingitemid != null" >
        chargingItemId,
      </if>
      <if test="chargeamount != null" >
        chargeAmount,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="collectfeesinformationid != null" >
        #{collectfeesinformationid,jdbcType=INTEGER},
      </if>
      <if test="chargingitemid != null" >
        #{chargingitemid,jdbcType=INTEGER},
      </if>
      <if test="chargeamount != null" >
        #{chargeamount,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.renjun.po.yw_CollectFeesInformation" >
    update yw_collectfeesinformation
    <set >
      <if test="chargingitemid != null" >
        chargingItemId = #{chargingitemid,jdbcType=INTEGER},
      </if>
      <if test="chargeamount != null" >
        chargeAmount = #{chargeamount,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=CHAR},
      </if>
    </set>
    where collectFeesInformationId = #{collectfeesinformationid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.renjun.po.yw_CollectFeesInformation" >
    update yw_collectfeesinformation
    set chargingItemId = #{chargingitemid,jdbcType=INTEGER},
      chargeAmount = #{chargeamount,jdbcType=DECIMAL},
      remarks = #{remarks,jdbcType=CHAR}
    where collectFeesInformationId = #{collectfeesinformationid,jdbcType=INTEGER}
  </update>
</mapper>